.head{
    display: flex;
    padding-inline: 10px;
    background: #775253;
    justify-content: space-between;
    align-items: center;
    color:#D1D3C4;
}

.h1{
    font-size: xx-large;
}

.button{
    height: 90%;
    display: block;
    aspect-ratio: 1/1;
}