.head{
    display: flex;
    padding-inline: 10px;
    background: cornflowerblue;
    justify-content: space-between;
    align-items: center;
}

.h1{
    font-size: xx-large;
}

.button{
    height: 90%;
    display: block;
    aspect-ratio: 1/1;
}